<template name="CreateDiscussion">

	<section class="create-channel">
		<div class="create-channel__wrapper">
			<p class="create-channel__description">{{_ "Discussion_description"}}</p>
			<form id="create-discussion" class="create-channel__content">
				{{#unless disabled}}
				{{> SearchCreateDiscussion
					onClickTag=onClickTagRoom
					deleteLastItem=deleteLastItemRoom
					list=selectedRoom
					onSelect=onSelectRoom
					collection=roomCollection
					field='name'
					sort='name'
					label="Discussion_target_channel"
					placeholder="Discussion_target_channel_description"
					name="parentChannel"
					disabled=disabled
					selector=roomSelector
					description=targetChannelText
					noMatchTemplate="roomSearchEmpty"
					templateItem="popupList_item_channel"
					modifier=roomModifier
				}} {{else}}
					<div class="rc-input" disabled>
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Discussion_target_channel"}}</div>
							<div class="rc-input__wrapper">
								<input disabled name="parentChannel" id="parentChannel" value={{parentChannel}} class="rc-input__element" />
							</div>
						</label>
					</div>
				{{/unless}}
				<div class="create-channel__inputs">
					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Discussion_name"}}</div>
							<div class="rc-input__wrapper">
								<div class="rc-input__icon">
									{{> icon block="rc-input__icon-svg" icon="discussion"}}
								</div>
								<input name="discussion_name" id="discussion_name" class="rc-input__element" placeholder="{{_ 'New_discussion_name'}}"
									maxlength="{{maxMessageLength}}" value="{{nameSuggestion}}"/>
							</div>
						</label>
					</div>
					{{> SearchCreateDiscussion
						onClickTag=onClickTagUser
						deleteLastItem=deleteLastItemUser
						list=selectedUsers
						onSelect=onSelectUser
						collection='UserAndRoom'
						endpoint='users.autocomplete'
						field='username'
						sort='username'
						label="Specialist"
						placeholder="Username_Placeholder"
						name="users"
						icon="at"
						noMatchTemplate="userSearchEmpty"
						templateItem="popupList_item_default"
						modifier=userModifier
					}}
					<!-- Patient name -->
					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">Patient Name</div>
							<div class="rc-input__wrapper">
								<input name="patientName" id="patientName" class="rc-input__element" placeholder="Patient Name" value="{{patientName}}"/>
							</div>
						</label>
					</div>

				<!-- Patient ID -->
					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">Patient ID</div>
							<div class="rc-input__wrapper">
								<input name="patientID" id="patientID" class="rc-input__element" placeholder="Patient ID" value="{{patientID}}"/>
							</div>
						</label>
					</div>

				<!-- Patient DOB -->
					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">Date Of Birth</div>
							<div class="rc-input__wrapper">
								<input name="patientDateOfBirth" type="date" id="patientDateOfBirth" class="rc-input__element" placeholder="Date Of Birth" value="{{patientDateOfBirth}}"/>
							</div>
						</label>
					</div>

					<!-- Service Type Radio button -->
					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">Service Type</div>
							<div  id="service-type-radio-buttons" class="rc-input__wrapper">
								<input type="radio" id="ophthalmology-radio-button" name="service-type" value="ophthalmology" checked="{{ophthalmologySelected}}">
								<label for="ophthalmology-radio-button"> Ophthalmology</label>
								<input type="radio" id="other-radio-button" name="service-type" value="other" checked="{{otherSelected}}">
								<label for="other-radio-button"> Other</label>
							</div>
						</label>
					</div>

						{{#if ophthalmologySelected}}
			
						<!-- Referring DR -->
							<div class="rc-input">
								<label class="rc-input__label">
									<div class="rc-input__title">Referring Doctor</div>
									<div class="rc-input__wrapper">
										<input name="referringDoctor" id="referring-doctor" class="rc-input__element" placeholder="Referring Doctor" value="{{referringDoctor}}"/>
									</div>
								</label>
							</div>

						<!-- Eye Radio Buttons -->
							<div class="rc-input">
								<label class="rc-input__label">
									<div class="rc-input__title">Eye</div>
									<div id="eye-radio-buttons" class="rc-input__wrapper">
										<input type="radio" id="right-eye-radio-button" name="eye-radio-buttons" value="right" checked="{{isRightEye}}">
										<label for="right-eye-radio-button"> Right</label>
										<input type="radio" id="left-eye-radio-button" name="eye-radio-buttons" value="left" checked="{{isLeftEye}}">
										<label for="left-eye-radio-button"> Left</label>
										<input type="radio" id="both-eyes-radio-button" name="eye-radio-buttons" value="both" checked="{{isBothEyes}}">
										<label for="both-eyes-radio-button"> Both</label>
									</div>
								</label>
							</div>

						<!-- Facility Select -->
							<div class="rc-input" >
								<label class="rc-input__label">
									<div class="rc-input__title">Select a facility</div>
									<div class="rc-input__wrapper">
										<input class="rc-input__element" placeholder="Seletct An Investigation" style="cursor:pointer; background-color: white;" disabled="true" value="{{selectedFacility.name}}"/>
										<select id="facility-select" class="rc-input__element" style="opacity: 0; position: relative; top: -40px">
											<option value="" disabled selected style="display:none;">Select a facility</option>
											{{#each allFacilities}}
												<option value="{{this.name}}">{{this.name}}</option>
											{{/each}}
										</select>
									</div>
								</label>
							</div>


							<!-- Investigation Select -->
							<div class="rc-input" style="margin-top: -40px;">
								<label class="rc-input__label">
									<div class="rc-input__title" >Select an Investigation</div>
									<div class="rc-input__wrapper">
										<input class="rc-input__element" placeholder="Seletct An Investigation" style="cursor:pointer; background-color: white;" disabled="true" value="{{selectedInvestigation.name}}"/>
										<select id="investigation-select" class="rc-input__element" style="opacity: 0; position: relative; top: -40px">
											<option value="" disabled selected style="display:none;">Select an Investigation</option>
											{{#each allInvestigations}}
												<option value="{{this.name}}">{{this.name}}</option>
											{{/each}}
										</select>
									</div>
								</label>
							</div>

							<!-- Facility must be selected before setting zoom room and anydesk   -->
							{{#if selectedFacility}}
								<!-- Zoom Room Type -->
								<div class="rc-input" style="margin-top: -40px;">
									<label class="rc-input__label">
										<div class="rc-input__title">Zoom Room Type</div>
										<div id="zoom-room-radio-buttons" class="rc-input__wrapper">
											<input type="radio" id="standard-zoom-room-radio-button" name="xoom-room-type" value="standard" checked="{{standardZoomRoomSelected}}">
											<label for="standard-zoom-room-radio-button"> Standard</label>
											<input type="radio" id="custom-zoom-room-radio-button" name="xoom-room-type" value="custom" checked="{{customZoomRoomSelected}}">
											<label for="custom-zoom-room-radio-button"> Custom</label>
										</div>
									</label>
								</div>

								<!-- Zoom Room Data -->
								{{#if customZoomRoomSelected}}
									<div class="rc-input">
										<label class="rc-input__label">
											<div class="rc-input__title">Custom Zoom Room</div>
											<div class="rc-input__wrapper">
												<input name="customZoomRoomLink" id="custom-zoom-room-link" class="rc-input__element" placeholder="Type your zoom link here" value="{{customZoomRoomLink}}"/>
											</div>
										</label>
									</div>
								{{/if}}

								{{#if standardZoomRoomSelected}}
									<div class="rc-input">
										<label class="rc-input__label">
											<div class="rc-input__title">Custom Zoom Room</div>
											<div class="rc-input__wrapper">
												<input name="automaticZoomRoomLink" id="automatic-zoom-room-link" class="rc-input__element" disabled="true" value="{{selectedFacility.zoomLink}}"/>
											</div>
										</label>
									</div>
								{{/if}}

								<!-- Investigation must be selected before setting anydesk -->
								{{#if selectedInvestigation}}
									<!-- AnyDesk Device -->
									<div class="rc-input">
										<label class="rc-input__label">
											<div class="rc-input__title">AnyDesk Device</div>
											<div id="anydesk-device-type-radio-buttons" class="rc-input__wrapper">
												<input type="radio" id="automatic-anydesk-device-radio-button" name="anydesk-device-type" value="automatic" checked="{{automaticAnydeskDeviceSelected}}">
												<label for="automatic-anydesk-device-radio-button"> Automatic</label>
												<input type="radio" id="custom-anydesk-device-radio-button" name="anydesk-device-type" value="custom" checked="{{customAnydeskDeviceSelected}}">
												<label for="custom-anydesk-device-radio-button"> Custom</label>
											</div>
										</label>
									</div>
									<!-- AnyDesk Device Data -->
									{{#if customAnydeskDeviceSelected}}
										<div class="rc-input">
											<label class="rc-input__label">
												<div class="rc-input__title">Custom Anydesk Device Name</div>
												<div class="rc-input__wrapper">
													<input name="customZoomRoomLink" id="custom-anydesk-device-name" class="rc-input__element"  placeholder="Type you anydesk device name here"  value="{{customAnydeskDeviceName}}"/>
												</div>
											</label>
										</div>
									{{/if}}

									{{#if automaticAnydeskDeviceSelected}}
										<div class="rc-input">
											<label class="rc-input__label">
												<div class="rc-input__title">Automatic Anydesk Device Name</div>
												<div class="rc-input__wrapper">
													<input name="customZoomRoomLink" id="automatic-anydesk-device-name" class="rc-input__element" disabled="true" value="{{automaticAnydeskDeviceName}}"/>
												</div>
											</label>
										</div>
									{{/if}}
								{{/if}}
							{{/if}}
						{{/if}}

						{{#if otherSelected}}
						<div class="rc-input">
							<label class="rc-input__label">
								<div class="rc-input__title">Investigation</div>
								<div class="rc-input__wrapper">
									<input name="otherServiceTypeInvestigation" id="other-service-type-investigation" class="rc-input__element"  placeholder="Type you Investigation here"  value="{{otherServiceTypeInvestigation}}"/>
								</div>
							</label>
						</div>						
						{{/if}}
				</div>
			</form>
			<div class="rc-input">
				<button form="create-discussion" class="rc-button rc-button--primary js-save-discussion {{createIsDisabled}}" {{createIsDisabled}}>{{_ " Create "}}</button>
			</div>
		</div>
	</section>
</template>

<template name="SearchCreateDiscussion">
	<div class="rc-input" id='search-{{name}}' {{disabled}}>
		<label class="rc-input__label">
			<div class="rc-input__title">{{_ label}}</div>
			<div class="rc-input__wrapper">
				{{# if icon}}
				<div class="rc-input__icon">
					{{> icon block="rc-input__icon-svg" icon=icon}}
				</div>
				{{/if}}
				<div class="rc-tags{{# unless icon}} rc-tags--no-icon{{/unless}}">
					{{#each item in list}} {{> tag item}} {{/each}}
					<input type="text" id="{{name}}" class="rc-tags__input" placeholder="{{_ placeholder}}" name="{{name}}" autocomplete="off" {{disabled}} />
				</div>
			</div>
			{{#with config}}
				{{#if autocomplete 'isShowing'}}
					{{> popupList data=config items=items ready=(autocomplete 'isLoaded')}}
				{{/if}}
			{{/with}}
		</label>
		<div class="rc-input__description">{{ description }}</div>
	</div>
</template>

<template name='tag'>
	<span class="rc-tags__tag">
		{{#if username}}
			<span class="rc-tags__tag-image">
				{{> avatar username=username}}
			</span>
			<span class="rc-tags__tag-text">{{username}}</span>
		{{else}}
			<span class="rc-tags__tag-text">{{text}}</span>
		{{/if}}
		{{> icon block="rc-tags__tag-icon" icon="cross"}}
	</span>
</template>